<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
<configuration>
	<typeAliases>
		<typeAlias type="com.jail.spring.member.domain.MemberVO" alias="Member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/member-mapper.xml"/>
	</mappers>
</configuration>
 -->


<!-- <configuration>

	<typeAliases>
		<typeAlias type="com.jail.spring.member.domain.MemberVO" alias="Member"/>
		<typeAlias type="com.jail.spring.notice.domain.NoticeVO" alias="Notice"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	<mappers>
</configuration>
 -->
 
 <configuration>
 		<!-- NULL일때 NULL로 인식하도록 함 -->
 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	
 	<typeAliases>
 		<typeAlias type="com.jail.spring.member.domain.MemberVO" alias="Member"/>
 		<typeAlias type="com.jail.spring.notice.domain.NoticeVO" alias="Notice"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
 	</mappers>
 </configuration>